  .container-login {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 3px;
    width: 20rem;
    align-items: center;
    padding-bottom: 30px;
    margin-top: 250px;
  }

  .logo-login h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }