.container-signup {
    text-align: center;
}

.logo-signup {
    font-size: 48px;
}

.form-signup {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.link-signup {
    margin-top: 10px;
}